.popup__btn {
  border: none;
  background: #000000;
  border-radius: 2px;
  padding: 0;
  height: 50px;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  cursor: pointer;
  transition: opacity .3s ease;
  margin-top: 13px;
}

.popup__btn:hover {
  opacity: .8;
}

@media screen and (max-width: 500px) {
  .popup__btn {
    font-size: 14px;
    line-height: 1.21;
  }
}
