.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  grid-area: subtitle;
}

@media screen and (max-width: 773px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;    
  }
}
